:root {
    --md-admonition-icon--stop: url('')
  }
  .md-typeset .admonition.stop,
  .md-typeset details.stop {
    border-color: hsl(351, 100%, 59%);
  }
  .md-typeset .stop > .admonition-title,
  .md-typeset .stop > summary {
    background-color: hsla(351, 100%, 59%, 0.6);
    border-color: hsl(351, 100%, 59%);
  }
  .md-typeset .stop > .admonition-title::before,
  .md-typeset .stop > summary::before {
    background-color: hsl(351, 100%, 59%);
    -webkit-mask-image: var(--md-admonition-icon--stop);
            mask-image: var(--md-admonition-icon--stop);
  }